
<h2>Your Vendors</h2>
<table>
    <thead>
    	<th></th>
        <th>   	
            <span class="sortorder" visible="type === 'score'" ng-class="{reverse:reverseType}"></span>
            <a href="" ng-click="order('score')" ng-mouseenter="scoreHover=true" ng-mouseleave="scoreHover=false">SCORE</a>
        </th>
        <th>
        	<span class="sortorder" visible="type === '-'+'percentile'" ng-class="{reverse:reverseType}">&nbsp;</span>
            <a href="" ng-click="order('percentile')" ng-mouseenter="percentileHover=true" ng-mouseleave="percentileHover=false">PERCENTILE</a>
        </th>
        <th>
        	<span class="sortorder" visible="type === '-'+'change'" ng-class="{reverse:reverseType}">&nbsp;</span>
            <a href="" ng-click="order('change')" ng-mouseenter="changeHover=true" ng-mouseleave="changeHover=false">30-DAY</a>
        </th>
        <th>
        	<span class="sortorder" visible="type === 'name'" ng-class="{reverse:reverseType}">&nbsp;</span>
            <a href="" ng-click="order('name')" ng-mouseenter="vendorHover=true" ng-mouseleave="vendorHover=false">VENDOR</a>
        </th>
        <th>
        	<span class="sortorder" visible="type === 'industry'" ng-class="{reverse:reverseType}">&nbsp;</span>
            <a href="" ng-click="order('industry')" ng-mouseenter="industryHover=true" ng-mouseleave="industryHover=false">INDUSTRY</a>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="vendor in vendorArray | orderBy:type:reverseType" 
        	ng-class="{greyHover:hover || vendor.checked}" 
        	ng-mouseenter="hover=true" 
        	ng-mouseleave="hover=false">
        	<td>
                <input id="{{$index}}" type="checkbox" ng-model="vendor.checked" ng-click="updateCheckbox(vendor)"/>
                <label for="{{$index}}"></label>
            </td>
        	<td score-color ng-class="{blueHover:scoreHover}" class="score">{{vendor.score}}</td>
        	<td percentile ng-class="{blueHover:percentileHover}" class="percentile">{{vendor.percentile}}</td>
        	<td change-color ng-class="{blueHover:changeHover}" class="change">{{vendor.change}}</td>
        	<td ng-class="{blueHover:vendorHover}">{{vendor.name}}</td>
        	<td ng-class="{blueHover:industryHover}">{{vendor.industry}}</td>
        </tr>
    </tbody>
</table>